DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Local visual-QA test account (dev only, created by the qa agent setup)
QA_USERNAME=
QA_PASSWORD=
